process {

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withLabel: python_process {
        cpus = 4
        memory = 8.GB
        container = params.container_python
    }
    withLabel: python_process_low {
        cpus = 1
        memory = 4.GB
        container = params.container_python
    }     
    withLabel: r_process {
        cpus = 4
        memory = 8.GB
        container = params.container_r
    }
}
