
params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    //input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/spatialtranscriptomics/testdata/test-dataset/samplesheet.csv'
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/9b01c5aa8bc5aa86f81bb600d43c4e30f76e82fd/testdata/test-dataset/samplesheet.csv'

}
