/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/spatialtranscriptomics -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '6.GB'
    max_time   = '1.h'
    
    STpreprocess_minCounts = 10
    STpreprocess_minGenes  = 5
    SCpreprocess_minCounts = 10
    SCpreprocess_minGenes  = 5

    // Input data
    //input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/spatialtranscriptomics/testdata/test-dataset-subsampled/samplesheet.csv'
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/9b01c5aa8bc5aa86f81bb600d43c4e30f76e82fd/testdata/test-dataset-subsampled/samplesheet.csv'
    
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    // ...
}
